body {
  font-family: sans-serif;
  background-color: darkslateblue
}

h1 {
  text-align: center;
  color: hotpink;
  font-size: 50px;
  color: ivory;
  margin: 40px;
}

.score-interface {
  text-align: center;
}

.score-display {
  background: #006633;
  width: 50%;
  padding: 10px;
  display: inline-block;
  margin: 20px;
  border-color: cornflowerblue;
  border-width: 10;
  border-style: solid;
}

.display-block {
  background: black;
  padding: 20px;
  margin: 20 auto;
  width: 20px;
  color: #E6EA67;
  border-width: 1;
  border-style: solid;
  border-color: white;

}

.point {
    width: 20px;
}

.player {
  display: block;
  margin: 20 0 20 0;
  font-size: inherit;
  width: 200px;
  text-transform: uppercase;
}

input::placeholder {
  color: #E6EA67;
}

input:focus::-webkit-input-placeholder {
  color:transparent;
}

.points-display, .games-display, .sets-display {
  display: inline-block;
  margin: 0 20 0 20;
}

.players-display {
  display: inline-block;
  margin: 0 20 0 20;
}

.buttons-display {
  text-align: center;
}

button {
    text-decoration: none;
    color: white;
    border: 1px solid;
    background-color: hotpink;
    height:50px;
    width:200px;
    margin: 20px;
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    cursor:pointer;
    font-size: 15px;
}

button:hover {
  background-color: white;
  color: hotpink;
}

.score-button {
  display: inline-block;
  margin: 10px 10px auto;
  text-transform: uppercase;
}

.reset-button {
  margin: 10px auto;
  text-transform: uppercase;
}

.winner {
  text-transform: uppercase;
  text-align: center;
  margin: 30px;
  font-size: 40px;
  color: cornflowerblue;
}

.winning-player {
  color: #E6EA67;
}
