.scores {
  text-align: center;
  background: #006633;
  width: 70px;
  padding: 10px;
  margin: 0 auto;
}

.point {
  background: black;
    padding: 20px;
    margin: 20 auto;
    width: 20px;
    color: #E6EA67;
}

.buttons-display {
  margin: 0 auto;
  text-align: center;
}

.winner {
  text-transform: uppercase;
  margin: 0 auto;
  text-align: center;
}
